<p>
    I love computers and electronic devices&nbsp;:) In this page you could find
    information about devices that I use right now, in everyday life. By the way,
    to get information about the hardware and system, I use the
    <a target="_blank" href="https://www.ccleaner.com/speccy/">Speccy</a>
    program.
</p>

<h2>My PC</h2>

<p>
My current home computer was bought in 2014, I bought a separate graphic adapter
at the end of 2017 (in order to play World of Warcraft), and in 2021 I replaced
the HDD with an SSD. The current configuration looks like this:
</p>

<ul>
    <li><b>CPU</b>: <a target="_blank" href="https://en.wikipedia.org/wiki/Haswell_(microarchitecture)">Haswell</a>
        Intel Core <a target="_blank" href="https://ark.intel.com/products/80810">i5-4690</a> 3.50GHz.</li>
    <li><b>GPU</b>: NVIDIA <a target="_blank" href="https://en.wikipedia.org/wiki/GeForce_10_series">GeForce GTX 1060 3GB</a> by ASUS.</li>
    <li><b>RAM</b>: Kingston 4096 MB DDR3 PC3-12800 (KHX1600C9D3/4GX) x 4.</li>
    <li><b>SSD 1</b>: Kingston SV300S37A120G — 120 GB.</li>
    <li><b>SSD 2</b>: Kingston SA400S37480G — 480 GB.</li>
    <li><b>SSD 3</b>: Kingston SA400S37960G — 960 GB.</li>
    <li><b>CD-ROM</b>: ASUS BW-16D1HT.</li>
    <li><b>Motherboard</b>: ASUS H97-PRO
        (<a target="_blank" href="./files/hardware/E9734-H97-PRO.pdf">User Manual</a>).</li>
    <li><b>Monitor</b>: Samsung SyncMaster 226bw, 22-inch, 1680x1050, 60Hz
        (<a target="_blank" href="./files/hardware/SyncMaster-206BW.pdf">User Manual</a>).</li>
    <li><b>Mouse</b>: A4Tech X6-60D.</li>
    <li><b>Keyboard</b>: Gembird (noname model).</li>
    <li><b>Speakers</b>: Microlab B37.</li>
    <li><b>OS</b>: Windows 7 Home Edition 64 bit, Service Pack 1 (on SSD 1).</li>
</ul>

<p>
    As you can see, it's not exactly a modern computer, but it's enough for all
    my activities — programming, education, reading, games&nbsp;:)
</p>

<h2>My Laptop</h2>

I also have a work laptop. It's not my personal device, but I spend most of my
time with it. Below you could see its specification:
<ul>
    <li><b>CPU</b>: Intel Core i7-8665U 1.90GHz.</li>
    <li><b>GPU</b>: Intel UHD Graphics 620 (WHL GT2).</li>
    <li><b>RAM</b>: 16 GB.</li>
    <li><b>SSD</b>: Samsung MZVLB512HBJQ-000L7 (5M2QEXF7) — 512 GB.</li>
    <li><b>OS</b>: Ubuntu 20.04.6 LTS 64 bit.</li>
    <li><b>Model</b>: Lenovo, ThinkPad X1 Carbon, Gen 7.</li>
</ul>

<h2>My Phones/Tablets</h2>

<ul>
    <li>Apple iPhone 12 Pro Max (128 GB, Pacific Blue).</li>
    <li>Google Pixel 6a (128 GB, Green).</li>
    <li>YotaPhone 2 (YD201, 32 GB, Black).</li>
    <li>Apple iPad Air 4 (2020, WiFi Only, 256 GB, Green).</li>
</ul>

<h2>My Sound</h2>

Yes, I have a hardware music player and wired headphones&nbsp;:) For listening music I use:
<ul>
    <li><b>Player</b>: Astell&Kern <a target="_blank"
        href="https://www.astellnkern.com/product/product_detail.jsp?productNo=39">AK70 MK II</a>
        (User Manual:
        <a target="_blank" href="./files/hardware/AK70MKII-EN.pdf">EN</a>,
        <a target="_blank" href="./files/hardware/AK70MKII-RU.pdf">RU</a>), FiiO
        <a target="_blank" href="https://www.fiio.com/cp13">CP13 Sky Blue</a>,
        Apple iPod Classic 6th (120 GB, Silver).
    </li>
    <li><b>Earphones</b>: Astell&Kern <a target="_blank"
        href="https://www.astellnkern.com/product/product_detail.jsp?productNo=50">Bille Jean</a>.</li>
    <li><b>Headphones</b>: Audio-Technica
        <a target="_blank" href="https://www.audio-technica.com/en-eu/ath-a1000z">ATH-A1000Z</a>.</li>
</ul>

<h2>E-Paper Book</h2>

<p>
    I love books and for reading e-books I use device with
    <a href="https://en.wikipedia.org/wiki/E_Ink">E-Ink</a> display. Right now
    it's <a href="https://en.wikipedia.org/wiki/PocketBook_International">PocketBook</a>
    InkPad 3 Pro.
</p>

<h2>Film Camera</h2>

<p>
    I'm very interested in film photography. There is something mysterious about working with film.
    I'm not a professional at this, I still have a lot to learn, but you can see my work
    <a target="_blank" href="https://www.lomography.com/homes/mikhan">here</a>.
    Below is a list of my film cameras in the order they were purchased.
</p>

<ul>
    <li>Konica Z-Up 120 VP</a></li>
    <li>Fujica Auto 7 Date</li>
    <li>Smena 8M</li>
</ul>
