<p>
    I love computers and electronic devices&nbsp;:) In this page you could find
    information about devices that I use right now, in everyday life.
</p>

<h2>My PC</h2>

<p>
My current home computer was bought in 2014, I bought a separate video card at the
end of 2017, and in 2021 I replaced the HDD with an SSD. The current
configuration looks like this:
</p>

<ul>
    <li><b>CPU</b>: <a target="_blank" href="https://en.wikipedia.org/wiki/Haswell_(microarchitecture)">Haswell</a>
        Intel Core <a target="_blank" href="https://ark.intel.com/products/80810">i5-4690</a> 3.50GHz.</li>
    <li><b>GPU</b>: NVIDIA <a target="_blank" href="https://en.wikipedia.org/wiki/GeForce_10_series">GeForce GTX 1060 3GB</a> by ASUS.</li>
    <li><b>RAM</b>: Kingston 4096 MB DDR3 PC3-12800 (KHX1600C9D3/4GX) x 4.</li>
    <li><b>SSD 1</b>: Kingston SV300S37A120G — 120 GB.</li>
    <li><b>SSD 2</b>: Kingston SA400S37480G — 480 GB.</li>
    <li><b>SSD 3</b>: Kingston SA400S37960G — 960 GB.</li>
    <li><b>CD-ROM</b>: ASUS BW-16D1HT.</li>
    <li><b>Motherboard</b>: ASUS H97-PRO</li>
    <li><b>Monitor</b>: Samsung SyncMaster 226bw (22-inch, 1680x1050, 60Hz).</li>
    <li><b>Speakers</b>: Microlab B37.</li>
    <li><b>OS</b>: Windows 7 Home Edition 64 bit, Service Pack 1 (on SSD 1).</li>
</ul>

<p>
    As you can see, it's not exactly a modern computer, but it's enough for all
    my activities&nbsp;:)
</p>
