<p>
    I love computers and electronic devices&nbsp;:) In this page you could find
    information about devices that I use right now, in everyday life. If you
    want to know about all the devices I've ever owned, you can do it
    <a href="http://mikhan.me/hardware/history">here</a>.
</p>

<h2>My PC</h2>
<p>
    My current home computer was bought in 2014, I bought a separate graphic
    adapter at the end of 2017 (in order to play World of Warcraft), and in
    2021 I replaced the HDD with an SSD. The current configuration looks like
    this:
</p>
<ul>
    <li>
        <b>CPU</b>:&nbsp;Intel Core i5-4690 3.50GHz
        (<a href="https://en.wikipedia.org/wiki/Haswell_(microarchitecture)"
            target="_blank">Haswell</a>).
    </li>
    <li>
        <b>GPU</b>:&nbsp;Nvidia
        <a href="https://en.wikipedia.org/wiki/GeForce_10_series"
            target="_blank">
            GeForce GTX 1060 3GB</a> by ASUS (since 2017).
    </li>
    <li>
        <b>RAM</b>:&nbsp;Kingston 4096 MB DDR3 PC3-12800 (KHX1600C9D3/4GX) x 4.
    </li>
    <li><b>SSD 1</b>:&nbsp;Kingston SV300S37A120G &ndash; 120 GB.</li>
    <li><b>SSD 2</b>:&nbsp;Kingston SA400S37480G &ndash; 480 GB.</li>
    <li><b>SSD 3</b>:&nbsp;Kingston SA400S37960G &ndash; 960 GB.</li>

    <li><b>CD-ROM</b>:&nbsp;ASUS BW-16D1HT.</li>
    <li>
        <b>Motherboard</b>:&nbsp;ASUS H97-PRO
        (<a target="_blank" href="./files/hardware/E9734-H97-PRO.pdf">User
            Manual</a>).
    </li>
    <li>
        <b>Monitor</b>:&nbsp;Samsung SyncMaster 226bw, 22-inch, 1680x1050, 60Hz
        (<a target="_blank" href="./files/hardware/SyncMaster-206BW.pdf">User
            Manual</a>).
    </li>
    <li><b>Mouse</b>:&nbsp;A4Tech X6-60D.</li>
    <li>
        <b>Keyboard</b>:&nbsp;IBM Model M (1994). Before &ndash; Gembird
        (noname model).
    </li>
    <li><b>Speakers</b>:&nbsp;Microlab B37.</li>
    <li>
        <b>OS</b>:&nbsp;Windows 7 Home Edition 64 bit, Service Pack 1
        (on SSD 1).
    </li>
</ul>
<p>
    As you can see, it's not exactly a modern computer, but it's enough for all
    my activities &ndash; programming, education, reading, games&nbsp;:) And by
    the way, to get information about the hardware and system, I use the
    <a target="_blank" href="https://www.ccleaner.com/speccy/">Speccy</a>
    program.
</p>

<h2>My Mac</h2>
<p>Since July 2025 I have a Mac computer. This is a new experience for me.</p>
<ul>
    <li><b>Mac</b>:&nbsp;Mac Mini M4 (2024).</li>
    <li><b>CPU</b>:&nbsp;Apple M4.</li>
    <li><b>RAM</b>:&nbsp;16 GB.</li>
    <li><b>SSD</b>:&nbsp;512 GB.</li>
    <li><b>Monitor</b>:&nbsp;See My PC configuration.</li>
    <li><b>Mouse</b>:&nbsp;See My PC configuration.</li>
    <li><b>Keyboard</b>:&nbsp;See My PC configuration.</li>
    <li><b>Speakers</b>:&nbsp;See My PC configuration.</li>
</ul>

<h2>My Laptop</h2>
<p>
    I also have a work laptop. It's not my personal device, but I spend most
    of my time with it. Below you could see its specification:
</p>
<ul>
    <li><b>CPU</b>:&nbsp;Intel Core i7-8665U 1.90GHz.</li>
    <li><b>GPU</b>:&nbsp;Intel UHD Graphics 620 (WHL GT2).</li>
    <li><b>RAM</b>:&nbsp;16 GB.</li>
    <li>
        <b>SSD</b>:&nbsp;Samsung MZVLB512HBJQ-000L7 (5M2QEXF7) &ndash; 512 GB.
    </li>
    <li><b>OS</b>:&nbsp;Ubuntu 20.04.6 LTS 64 bit.</li>
    <li><b>Model</b>:&nbsp;Lenovo, ThinkPad X1 Carbon, Gen 7.</li>
</ul>

<h2>My Phones/Tablets</h2>
<ul>
    <li>Apple iPhone 12 Pro Max (128 GB, Pacific Blue, Used).</li>
    <li>Google Pixel 6a (128 GB, Green).</li>
    <li>Apple iPad Air 4 (2020, WiFi Only, 256 GB, Green).</li>
</ul>

<h2>My Sound</h2>
<p>
    Yes, I have a hardware music player and wired headphones&nbsp;:) For
    listening music I use:
</p>
<ul>
    <li>
        <b>Player</b>:&nbsp;Astell&Kern <a target="_blank"
        href="https://astellnkern.com/product/product_detail.jsp?productNo=39">
        AK70 MK II</a> (User Manual:
        <a target="_blank" href="./files/hardware/AK70MKII-EN.pdf">EN</a>,
        <a target="_blank" href="./files/hardware/AK70MKII-RU.pdf">RU</a>),
        FiiO <a target="_blank" href="https://www.fiio.com/cp13">
            CP13 Sky Blue</a>.
    </li>
    <li>
        <b>Earphones</b>:&nbsp;Astell&Kern <a target="_blank"
        href="https://astellnkern.com/product/product_detail.jsp?productNo=50">
        Bille Jean</a>.
    </li>
    <li>
        <b>Headphones</b>:&nbsp;Audio-Technica <a target="_blank"
        href="https://www.audio-technica.com/en-eu/ath-a1000z">ATH-A1000Z</a>.
    </li>
</ul>

<h2>E-Paper Book</h2>
<p>
    I love books and for reading e-books I use device with
    <a href="https://en.wikipedia.org/wiki/E_Ink">E-Ink</a> display. Right now
    it's <a href="https://en.wikipedia.org/wiki/PocketBook_International">
    PocketBook</a> InkPad 3 Pro.
</p>

<h2>Film Cameras</h2>
<p>
    I'm very interested in film photography. There is something mysterious about
    working with film. I'm not a professional at this, I still have a lot to
    learn, but you can see my work <a target="_blank"
        href="https://www.lomography.com/homes/mikhan">here</a>. Below is a
    list of my film cameras in the order they were purchased.
</p>
<ul>
    <li>
        Konica Z-Up 120 VP (<a href="./files/hardware/Konica-ZUP-120.pdf"
        target="_blank">User Manual</a>).
    </a></li>
    <li>
        Fujica Auto 7 Date (<a href="./files/hardware/Fujica-Auto7.pdf"
        target="_blank">User Manual</a>).
    </li>
    <li>
        Smena 8M (<a href="./files/hardware/Smena-8M.zip"
        target="_blank">User Manual</a>).
    </li>
    <li>Zeiss Ikon Tenax I (570/27, Pre-War version).</li>
</ul>

<h2>Wearable Devices</h2>
<ul>
    <li><a target="_blank"
        href="https://www.whoop.com/eu/en/life/">Whoop Life MG</a>.</li>
    <li><a target="_blank"
        href="https://casio.com/europe/watches/casio/vintage/product.A168WA-1/">
        Casio A168WA-1</a>.</li>
</ul>
