body {
	text-align: center;
	background: url(bg.png);
	background-repeat: repeat;
  }
  #header {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 120ex;
	min-width: 120ex;
	text-align: left;
	color: white;
	background: #48681B;
	border: solid 1px #CCC;
	box-shadow: 3px 3px 3px #ccc;    
  }
  #menu {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 120ex;
	min-width: 120ex;
	text-align: left;
	background: white;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	box-shadow: 3px 3px 3px #ccc;    
  }
  #menu-link {
	color: #48681B;
  }
  #content {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 120ex;
	min-width: 120ex;
	text-align: left;
	background: white;
	border: solid 1px #CCC;
	box-shadow: 3px 3px 3px #ccc; 
  }
  .key { font-size: smaller; font-style: italic }
  .subtitle {
	font-style: italic;
	text-align: center;
  }
  a img { border-width: 0; border: none }