<p>
    Besides my main job, I have several other pet projects. Below, you could see some of them,
    and others you would find on my
    <a href="https://github.com/malakhv/">GitHub</a>.
</p>

<h2>S-Dump</h2>
<p>
    S-Dump (Small Dump) is a small program to see and save to external file a dump (like in hex
    editors) of any file. It useful to investigate file formats and reverse engineering. For more
    details, please see project page on
    <a href="https://github.com/malakhv/S-Dump/">GitHub</a>.
</p>

<h2>DroidKit</h2>
<p>
    The common library for Android projects. It contains useful utilities and stuff to working
    with databeses, location, etc. I use this library in all my applications. For more details,
    please see project page on
    <a href="https://github.com/malakhv/DroidLib">GitHub</a>.
</p>

<h2>PascalKit</h2>
<p>
    Pascal Utils Library (PUL) – the set of Pascal units with common userful classes, utilites
    and tools. For more details, please see project page on
    <a href="https://github.com/malakhv/PascalKit/">GitHub</a>.
</p>

<h2>LogCat</h2>
<p>
    The library project includes classes for writing an app log in Android. Is essentially a
    wrapper for the standard Android
    <a target="_blank" href="https://developer.android.com/reference/android/util/Log.html">Log</a>
    class. The main difference is the automatically check the current log's level while trying to write
    logs. Also, there is a possibility to change the log level for the application at runtime
    via adb. For more details, please see project page on
    <a href="https://github.com/malakhv/LogCat">GitHub</a>.
</p>

<h2>MyLibrary</h2>
<p>
    My personal and private digital library with fiction, non-fiction, self-help, scientific and
    technical literature. The library includes not only books, but articles, courses, magazines,
    publishing house catalogues and some collections of books on specific topics. And sure, this
    project contains software and tools to manage content. Right now, this is a private project,
    but in the future, I have a plan to publish related software and content engine. The main goal
    of this project is not collecting as many books as possible, but to collect the best on various
    topics!
</p>

<h2>sTranslator</h2>
<p>
    The sTranslator (Small Translator) is a very small application that provides an access to the
    Yandex Translate service. This application itself determines the language of the original text
    and can exercise its translation into one of the user-selected language (English, Russian,
    French, Italian, German, Spanish). At the moment, this project is outdated and is no longer
    supported.
</p>

<h2>WebHome</h2>
<p>
    It just this website ;) You could see all source code on
    <a href="https://github.com/malakhv/WebHome/">GitHub</a>. Web development is not my main
    specialization, so do not judge strictly :)
</p>

<h2>WebPad</h2>
<p>
    A simple web notepad (WebPad) with text formatting and spell check feature. The WebPad doesn't
    send the entered text anywhere, but only saves it in a secure local storage. Just
    <a href="http://webpad.mikhan.me/">try it</a> or see source code on
    <a href="https://github.com/malakhv/WebPad/">GitHub</a>.
</p>
