<p>
    Besides my main job, I have several other pet projects. Below, you could
    see some of them, and others you would find on my
    <a href="https://github.com/malakhv/">GitHub</a>.
</p>

<h2>Buzzblender</h2>
<p>
<a target="_blank" href="https://buzzblender.com/">Buzzblender</a> is an
affordable <a href="https://buzzblender.com/dynamic-digital-signage-software/"
target="_blank">dynamic digital signage software</a> made for <a target="_blank"
href="https://buzzblender.com/samsung-signage-software/">Samsung displays</a>,
<a href="https://buzzblender.com/lg-webos-signage-player/" target="_blank">LG
Screens</a> and <a target="_blank"
href="https://buzzblender.com/industries/android-tv-hotel-mode/">Android
devices</a>. The biggest advantages are quick setup, affordable
<a target="_blank" href="https://buzzblender.com/pricing/">pricing</a> (just
five dollars per screen per month), and support for all types of TVs: commercial
and regular TVs. In working with multiple customers, one clear trend has been
observed: companies that combine <a target="_blank"
href="https://buzzblender.com/features/qr-code-for-digital-signage/">QR codes</a>
with dynamic promotional rotations typically see engagement and sales improve
by around 25%. I am involved in this project as a consultant.
</p>

<h2>DroidKit</h2>
<p>
    The common library for Android projects. It contains useful utilities and
    stuff to working with databeses, location, etc. I use this library in all
    my applications. For more details, please see project page on
    <a href="https://github.com/malakhv/DroidLib">GitHub</a>.
</p>

<h2>LogCat</h2>
<p>
    The library project includes classes for writing an app log in Android. Is
    essentially a wrapper for the standard Android <a target="_blank"
    href="https://developer.android.com/reference/android/util/Log.html">Log</a>
    class. The main difference is the automatically check the current log's
    level while trying to write logs. Also, there is a possibility to change
    the log level for the application at runtime via adb. For more details,
    please see project page on <a href="https://github.com/malakhv/LogCat">
    GitHub</a>.
</p>

<h2>PascalKit</h2>
<p>
    Pascal Utils Library (PUL) &ndash; the set of Pascal units with common
    userful classes, utilites and tools. For more details, please see project
    page on <a href="https://github.com/malakhv/PascalKit/">GitHub</a>.
</p>

<h2>S-Dump</h2>
<p>
    S-Dump (Small Dump) is a small program to see and save to external file a
    dump (like in hex editors) of any file. It useful to investigate file
    formats and reverse engineering. For more details, please see project page
    on <a href="https://github.com/malakhv/S-Dump/">GitHub</a>.
</p>

<h2>WebPad</h2>
<p>
    A simple web notepad (WebPad) with text formatting and spell check feature.
    The WebPad doesn't send the entered text anywhere, but only saves it in a
    secure local storage. Just <a href="http://webpad.mikhan.me/">try it</a> or
    see source code on <a href="https://github.com/malakhv/WebPad/">GitHub</a>.
</p>

<h2>WebHome</h2>
<p>
    It's just this website ;) You could see all source code on
    <a href="https://github.com/malakhv/WebHome/">GitHub</a>. Web development
    is not my main specialization, so do not judge strictly :)
</p>
