<h1>Notepad</h1>

<p>
    This is a simple notepad without text formatting (will be added later) and
    with spell check feature. Notepad doesn't send the entered text anywhere,
    but only saves it in a secure local storage. You could see page source code
    on [GitHub](https://github.com/malakhv/WebHome/tree/master/view/en/notepad).
</p>

<script>

    function saveNote() {
      var note = document.getElementById("note").value;
      localStorage.setItem("note", note);
    }

    function loadNote() {
        var note = localStorage.getItem("note");
        if (note) {
            document.getElementById("note").value = note;
        }
    }

    function downloadNote() {
        var note = document.getElementById("note").value;
        var link = document.createElement("a");
        link.download = "my-note.txt";
        var data = new Blob([note], {
            type: "text/plain"
        });
        link.href = window.URL.createObjectURL(data);
        link.click();
        link.remove();
    }

    function clearNote() {
        if (confirm('Are you sure you want to clear text?')) {
            document.getElementById("note").value = "";
            saveNote();
        }
    }

    window.onload = function winLoad() {
        loadNote();
    };

    window.onchange = function winChange() {
        saveNote();
    };

    window.onclose = function winClose() {
        saveNote();
    }

    window.onbeforeunload = function winBeforeUnload() {
        saveNote();
    }

</script>

<textarea id="note" spellcheck="true" rows="15"
    placeholder="Put your text here...">
</textarea>
<br>&nbsp;

<table align="right">
    <tr>
       <td>
            <button onclick="clearNote()">Clear</button>
            <button onclick="downloadNote()">Download</button>
       </td>
    </tr>
</table>
&nbsp;<br>&nbsp;<br>
