<table class="menu">
    <tr>
        <td><a href="http://mikhan.me/">Home</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="http://mikhan.me/projects/">Projects</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="http://mikhan.me/software/">Software</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="http://mikhan.me/hardware/">Hardware</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="http://mikhan.me/media/">Media</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="http://mikhan.me/tools/">Tools</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="http://mikhan.me/links/">Links</a>&nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>
