<p>
    In this section you can find a list of software that I use in everyday life (for work, study
    and entertainment). My preferred OS is Linux (Ubuntu), but on my home computer I use Windows
    (yes, I love computer games :). This is my OS list:

    <ul>
        <li><a target="_blank" href="https://www.android.com/">Android</a>
            &nbsp;-&nbsp;system and app development.</li>

        <li><a target="_blank" href="https://ubuntu.com/">Ubuntu</a>
            &nbsp;-&nbsp;work and development.</li>

        <li><a target="_blank" href="https://www.microsoft.com/en-us/windows/">Windows</a>
            &nbsp;-&nbsp;development and games.</li>

        <li><a target="_blank" href="https://www.apple.com/ru/macos/">MacOS</a>
            &nbsp;-&nbsp;development.</li>

        <li><a target="_blank" href="https://www.apple.com/ios/">iOS</a>
            &nbsp;-&nbsp;just OS in my phone :)</li>

    </ul>

</p>

<p>
    This is a general software that I use on all my computers and operating systems:
    <a target="_blank" href="https://r7-office.ru/">R7-Office</a>,
    <a target="_blank" href="http://dia-installer.de/">Dia</a> and
    <a target="_blank" href="https://en.wikipedia.org/wiki/PlantUML">PlantUML</a>,
    <a target="_blank" href="https://calibre-ebook.com/">Calibre E-Book</a>,
    <a target="_blank" href="https://filezilla-project.org/">FileZilla</a>,
    <a target="_blank" href="https://www.mozilla.org/firefox/">Firefox</a>,
    <a target="_blank" href="https://www.microsoft.com/">Microsoft Edge</a>,
    <a target="_blank" href="https://telegram.org/">Telegram</a>,
    <a target="_blank" href="https://zoom.us/">Zoom</a>.
    Also, you could find more information about my development environment <a href="http://mikhan.me/develop/">here</a>.
</p>

<h2>Linux</h2>

<p>
    Bellow, you could see a list of software that I use on Linux (in my work PC):

    <h3>Development</h3>
    <ul>
        <li><a target="_blank" href="https://sqlitebrowser.org/">SQLite Browser</a></li>
        <li><a target="_blank" href="https://github.com/skylot/jadx">JADX</a> and
            <a target="_blank" href="https://github.com/JesusFreke/smali/">SmaliJar</a></li>
        <li><a target="_blank" href="https://meldmerge.org/">Meld</a> (diff tool)</li>
    </ul>

    <h3>Media</h3>
    <ul>
        <li><a target="_blank" href="https://wiki.gnome.org/Apps/Rhythmbox">Rhythmbox</a> player</li>
        <li><a target="_blank" href="https://www.pinta-project.com/">Pinta</a> and
                <a target="_blank" href="https://www.gimp.org/">GIMP</a></li>
        <li><a target="_blank" href="https://www.videolan.org/vlc/">VLC Media Player</a></li>
    </ul>
</p>

<h2>Windows</h2>

<p>
    Bellow, you could see a list of software that I use on Windows (in my home PC):

    <h3>Media</h3>

    <table>
        <tr><td><ul class="cats">
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/Paint.net">Paint.net</a></li>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/ITunes">MusicBee</a></li>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/MusicBee">iTunes</a></li>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/Foobar2000">Foobar2000</a></li>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/Mp3tag">Mp3tag</a></li>
        </ul></td><td><ul class="cats">
            <li><a target="_blank" href="http://www.medieval.it/cuesplitter-pc/">CUE Splitter</a></li>
            <li><a target="_blank" href="https://sonore.us/iso2dsd.html">Sonore Iso2Dsd</a></li>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/MKVToolNix">MKVToolNix</a></li>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/Debut_Video_Capture_Software">Debut Video Capture</a></li>
        </ul></td></tr>
    </table>

</p>
