<h2>Education</h2>

<p>
    Volgograd State Technical University (VSTU). Engineer in Computer Science — Information Control
    Systems and Technologies (In Russian, Automated Information Processing and Management Systems).
    From September 2003 to December 2008.
</p>

<p>
    During studies, I participated in several conferences, including international ones and became
    a laureate two times. Also, I have a several publications in collections of student's
    scientific articles.
</p>

<p>
    I also worked as a teacher in some disciplines, including: Operating Systems, Programming
    Languages, Methods and Means of Protecting Computer Information (I was the author of this
    course and took the state exam).
</p>
