<p>
    Since 2014, my professional interests lie in the field of Android and Android Automotive.
    Right now, I'm head of <a target="_blank" href="https://auto.yandex/">Yandex Auto</a> product
    in Yandex company — is a solution based on Android Automotive OS that combines Yandex services
    (such as Navigation, Alice, Music, Fuel, Parking, Weather, Kinopoisk, etc) and makes them
    convenient to use in a vehicle.
</p>

<p>
    Also, my interests in computer science are compilers and programming languages, operating
    systems, databases, embedded systems.
</p>
