<p>
    Since 2014, my professional interests related to Android (AOSP) and (later) Android Automotive
    (AAOS) — to the development of system and user software for devices on these operating systems.
    Right now, I'm head of <a target="_blank" href="https://auto.yandex/">Yandex Auto</a> product
    in Yandex company — is a solution based on Android Automotive OS that combines Yandex services
    (such as Navigation, Alice, Music, Fuel, Parking, Weather, Kinopoisk, etc) and makes them
    convenient to use in a vehicle. Besides, Yandex Auto is a complete HMI solution (Human-Machine
    Interface) which contains all the necessary components for managing multimedia system
    (In-Vehicle Infotainment, IVI) and vehicle parameters (Vehicle Settings, HVAC, etc).
</p>

<p>
    Also, my interests in computer science are compilers and programming languages, operating
    systems, databases, embedded systems.
</p>
