<h2>Yandex</h2>

<p>
    <a target="_blank" href="https://yandex.com/company/general_info/yandex_today/">Yandex</a> is a
    technology company that builds intelligent products and services powered by machine learning.
    The company goal is to help consumers and businesses better navigate the online and offline
    world. Yandex is the largest technology company in the CIS countries.
</p>

<p>
    Yandex Automotive Platform (YAP, <a target="_blank" href="https://auto.yandex/">Yandex Auto</a>)
    is a solution based on Android Automotive OS (AAOS) that combines Yandex services (such as
    Navigation, Alice, Music, Fuel, Parking, Weather, Kinopoisk, etc) and makes them convenient to
    use in a vehicle.
</p>

<p>
    Yandex Auto provides a full-fledged HMI (Human-Machine Interface) that contains all the
    necessary components for managing car multimedia system (In-Vehicle Infotainment, IVI) and
    vehicle parameters (Vehicle Settings, HVAC, etc).
</p>

<p>
    Our solution is the most popular on the Russian market and CIS countries!
</p>

<h3>Head of Yandex Auto</h3>

<p>
    <i>Dec 2020 — Present</i>. In this role, as head of department, I manage
    our products and the development process. Over the past few years, we have:
</p>

<ul>
    <li>signed several major contracts with car makers (for a total of about $90 million),</li>
    <li>released few big Yandex Auto updates with new features for user,</li>
    <li>adapted new Yandex services to use it in a vehicle,</li>
    <li>adapted our product to meet the car makers requirements,</li>
    <li>reduced release cycles, projects' development and integration time,</li>
    <li>launched several cars with our solution.</li>
</ul>

<p>
    During this time, we were able to become a market leader and we have learned
    to earn steadily on the licenses of our products.
</p>

<h3>System Development Team Leader</h3>

<p>
    <i>May 2020 — Dec 2020</i>. In this role, as lead of System Development
    team, I managed the development of IVI system components such as:
    WindowManager, PackageManager, PowerManager, AudioManager, Telecom,
    Bluetooth, etc.
</p>

<p>
    Our team worked together with engineers from France, South Korea and China
    to integrate the Yandex Auto HMI into vehicles.
</p>

<h3>Senior Android Framework Developer</h3>

<p>
    <i>Sep 2017 — May 2020</i>. In this role my responsibilities was: development pre-installed
    software for vehicle IVI; customize the Android framework; adaptation Android Automotive API;
    building the Android system; making an Android Emulator with special features and SDK Add-On
    to integrate it into AndroidStudio.
</p>

<p>
    I was the main developer and maintainer of Yandex Automotive Platform key system's components:
</p>

<ul>

    <li>YAP Window System — The special windows composition is the key feature of Yandex
        Automotive Platform User Interface (YAP UI). It means the all user interactions with IVI
        performs with consideration of YAP windows composition which implemented in Android. This
        component is an extension of Android PhoneWindowManager with supporting new windows' types
        and logic to them layout.</li>

    <li>YAP Special Signature — A set of changes in Android PackageManager to support second
        platform signature, which automatically grants specified system permissions to selected HMI
        components.</li>

    <li>YAP Dynamic DPI System — This component necessary to change default DPI for selected
        applications in IVI depending on external conditions. Ultimately, this affects the scale of
        the application user interface.</li>
    
    <li>Head Unit Emulator with all our system and HMI components and SDK Add-On to integrate it
        into Android Studio.</li>

</ul>
