<h2>Yandex</h2>

<p>
    <a target="_blank" href="https://yandex.com/company/general_info/yandex_today/">Yandex</a> is a
    technology company that builds intelligent products and services powered by machine learning.
    The company goal is to help consumers and businesses better navigate the online and offline
    world. Yandex is the largest technology company in the CIS countries.
</p>

<p>
    Yandex Automotive Platform (YAP, <a target="_blank" href="https://auto.yandex/">Yandex Auto</a>)
    is a solution based on Android Automotive OS that combines Yandex services (such as Navigation,
    Alice, Music, Fuel, Parking, Weather, Kinopoisk, etc) and makes them convenient to use in a
    vehicle.
</p>

<p>
    Yandex Auto provides a full-fledged HMI (Human-Machine Interface) that contains all the
    necessary components for managing car multimedia system (In-Vehicle Infotainment, IVI) and
    vehicle parameters (Vehicle Settings, HVAC, etc).
</p>

<p>
    Our solution is the most popular on the Russian market and CIS countries!
</p>

<h3>Head of Yandex Auto</h3>

<p>
    <i>Dec 2020 — Present</i>. In this role, as head of department, I manage
    our products and the development process. Over the past few years, we have:
</p>

<ul>
    <li>signed several major contracts with car makers,</li>
    <li>released few big Yandex Auto updates with new features for user,</li>
    <li>adapted new Yandex services to use it in a vehicle,</li>
    <li>adapted our product to meet the car makers requirements,</li>
    <li>reduced release cycles, projects' development and integration time,</li>
    <li>launched several cars with our solution.</li>
</ul>

<p>
    During this time, we were able to become a market leader and we have learned
    to earn steadily on the licenses of our products.
</p>

<h3>System Development Team Leader</h3>

<p>
    <i>May 2020 — Dec 2020</i>. In this role, as head of System Development
    team, I managed the development of IVI system components such as:
    WindowManager, PackageManager, PowerManager, AudioManager, Telecom,
    Bluetooth, etc.
</p>
