<p>
    Welcome to my home on the web! I fully understand that having a home page
    in 2026 is old-fashioned :) Maybe, but I have no active accounts on social
    networks (except for Instagram and Lomography &ndash; I just love travel
    and photography, and I use them only for that) because there is a lot of
    information noise and unnecessary news. I want to consume only relevant
    and useful content. Without social networks, I really feel freer and more
    independent.
</p>

<p>
    On these pages, you can learn more about me, my projects, and my hobbies.
    You'll also find information about useful tools, helpful links, and
    documentation that I use in my everyday life. Since this website is still
    under construction, not all materials are available yet, but I hope you'll
    find something interesting.
</p>

<p>
    A small note about the content on these pages: English is not my native
    language, so there may be some mistakes here and there. I apologize for
    that. If you notice anything that doesn't look right, please feel free to
    let me know, and I'll do my best to fix it&nbsp;:)
</p>
