<p>
    Welcome to my home on the web! I fully understand that having a home page
    in 2024 is old-fashioned. :) Maybe, but I have no actual accounts on social
    networks (except for Instagram and Lomography &ndash; I just love
    travelling and photos, and I use them only for that) because there is a lot
    of information noise and unnecessary news. I want to consume only relevant
    and useful content for me. Without social networks, I really feel freer and
    more independent.
</p>

<p>
    On these pages, you can learn more about me, my projects and my hobbies.
    Also, you can find information about useful tools, helpful links and
    documentation that I use in everyday life. Since this website is under
    construction, not all materials are available, but I hope you can find
    something interesting.
</p>

<p>
    And a small remark about the content on these pages. English is not my
    native language, so I may make mistakes. I’m sorry about that. If you don’t
    like something at all, please write to me about it, and I will be able to
    fix it&nbsp;:)
</p>
