<h2>S-Dump</h2>
<p>
    S-Dump (Small Dump) is a small program to see and save to external file a dump (like in hex
    editors) of any file. It useful to investigate file formats and reverse engineering. For more
    details, please see project page on <a href="https://github.com/malakhv/S-Dump">GitHub</a>.
</p>

<h2>DroidKit</h2>
<p>
    The common library for Android projects. For more details, please see project page on
    <a href="https://github.com/malakhv/DroidLib">GitHub</a>.
</p>

<h2>LogCat</h2>
<p>
    The library project includes classes for writing an app logs in Android. Is essentially a
    wrapper for the standard Android
    <a href="https://developer.android.com/reference/android/util/Log.html">Log</a> class. The
    main difference is the automatically check the current log's level while trying to write
    logs. Also, there is a possibility to change the log level for the application at runtime
    via adb. For more details, please see project page on
    <a href="https://github.com/malakhv/LogCat">GitHub</a>.
</p>

<h2>MyLibrary</h2>
<p>
    My personal and private digital library with fiction, non-fiction, self-help, scientific
    and technical literature. This project contains not only books (and other materials), but
    also software to manage content. Right now this is a private project, but in the future I
    have a plan to publish related software and content engine.
</p>

<h2>sTranslator</h2>
<p>
    The sTranslator (Small Translator) is a very small application that provides an access to
    the Yandex Translate service. This application itself determines the language of the original
    text and can exercise its translation into one of the user-selected language (English,
    Russian, French, Italian, German, Spanish). At the moment, this project is outdated and is no
    longer supported.
</p>
