<h2>My trips</h2>

<table class="travel" width="100%">
<thead><tr>
    <th>Year</th>
    <th>Trip</th>
    <th>Dates</th>
    <th>Country</th>
    <th class="left">City</th>
    <th>Type</th>
    <!-- <th>Days</th> -->
    <th class="left">Dates</th>
    <th class="left">Hotel</th>
</tr></thead><tbody>


    <tr>
        <td>2008</td>
        <td>1</td>
        <td>12.04 &ndash; 17.04</td>
        <td>Russia</td>
        <td class="left">Astrachan</td>
        <td>С</td>
        <!-- <td>5</td> -->
        <td class="left">12.04 &ndash; 17.04</td>
        <td class="left">Room in a sports stadium&nbsp;:)</td>
    </tr>

    <tr>
        <td rowspan="3">2012</td>
        <td rowspan="3">2</td>
        <td rowspan="3">05.04 &ndash; 09.04</td>
        <td rowspan="3">Spain</td>
        <td class="left">Lloret de Mar</td>
        <td rowspan="3">V</td>
        <!-- <td>7</td> -->
        <td class="left">05.04 &ndash; 09.04</td>
        <td class="left" rowspan="3"><a target="_blank"
            href="https://www.openstreetmap.org/way/234947247/">Hotel
            Acapulco Lloret</a></td>
    </tr>
    <tr>
        <td class="left">Barcelona</td>
        <td class="left">06.04 (day)</td>
    </tr>
    <tr>
        <td class="left">Blanes</td>
        <td class="left">07.04 (evening)</td>
    </tr>

    <tr>
        <td>2016</td>
        <td>3</td>
        <td>05.04 &ndash; 09.04</td>
        <td>Austria</td>
        <td class="left">Vienna</td>
        <td>V</td>
        <!-- <td>5</td> -->
        <td class="left">05.04 &ndash; 09.04</td>
        <td class="left">Hotel in the city center</td>
    </tr>

    <!-- Vacation China-Dubai -->
    <tr>
        <td rowspan="10">2025</td>
        <td rowspan="6">13</td>
        <td rowspan="6">29.10 &ndash; 10.11</td>
        <td rowspan="3">China</td>
        <td class="left">Shanghai</td>
        <td rowspan="6">V</td>
        <td class="left">30.10 &ndash; 06.11</td>
        <td class="left" rowspan="3"><a target="_blank"
            href="https://maps.app.goo.gl/R4aRZv1SNWWagDM76">InterContinental
            Shanghai Ruijin</a></td>
    </tr>
    <tr>
        <td class="left">Nanjing</td>
        <td class="left">02.11 (day)</td>
    </tr>
    <tr>
        <td class="left">Suzhou</td>
        <td class="left">04.11 (day)</td>
    </tr>
    <tr>
        <td>UAE</td>
        <td class="left">Dubai</td>
        <td class="left">06.11 &ndash; 07.11</td>
        <td class="left"><a href="https://maps.app.goo.gl/stQarYnzVKSeXYo19"
            target="_blank">Rove Downtown Dubai</a></td>
    </tr>
        <tr>
        <td>Oman</td>
        <td class="left">Haffah</td>
        <td class="left">07.11 &ndash; 09.11</td>
        <td class="left"><a href="https://maps.app.goo.gl/SBTJTPkVkgnis9iEA"
            target="_blank">Bandar Hafa Inn</a></td>
    </tr>
    <tr>
        <td>UAE</td>
        <td class="left">Dubai</td>
        <td class="left">09.11 &ndash; 10.11</td>
        <td class="left"><a href="https://maps.app.goo.gl/stQarYnzVKSeXYo19"
            target="_blank">Rove Downtown Dubai</a></td>
    </tr>


    <!-- Trip to GWM -->
    <tr>
        <td rowspan="4">14</td>
        <td rowspan="4">06.12 &ndash; 20.12</td>
        <td rowspan="4">China</td>
        <td class="left">Shanghai</td>
        <td rowspan="4">B</td>
        <td class="left">07.12 &ndash; 11.12</td>
        <td class="left"><a href="https://maps.app.goo.gl/yDuQm3Qfw31bro4D9"
            target="_blank">Shanghai Marriott Marquis City Centre</a></td>
    </tr>
    <tr>
        <td class="left">Beijing</td>
        <td class="left">11.12 &ndash; 14.12</td>
        <td class="left"><a href="https://maps.app.goo.gl/8V6veYFXpMmor7w38"
            target="_blank">Regent Beijing</a></td>
    </tr>
    <tr>
        <td class="left">Baoding</td>
        <td class="left">14.12 &ndash; 19.12</td>
        <td class="left"><a href="https://maps.app.goo.gl/VN1V6GiuFnX8gD4c6"
            target="_blank">DoubleTree by Hilton Baoding</a></td>
    </tr>
        <tr>
        <td class="left">Beijing</td>
        <td class="left">19.12 &ndash; 20.12</td>
        <td class="left"><a href="https://maps.app.goo.gl/Fsh1vXSdu1ay4yoW8"
            target="_blank">Swissôtel Beijing Hong Kong Macau Center</a></td>
    </tr>

    <!-- Beijing Auto Show 2026 -->
    <tr>
        <td rowspan="6">2026</td>
        <td rowspan="6">15</td>
        <td rowspan="6">14.04 &ndash; 12.05</td>
        <td rowspan="6">China</td>
        <td class="left">Shanghai</td>
        <td rowspan="4">B</td>
        <td class="left">15.04 &ndash; 20.04</td>
        <td class="left"><a href="https://maps.app.goo.gl/R4aRZv1SNWWagDM76"
            target="_blank">InterContinental Shanghai Ruijin</a></td>
    </tr>
    <tr>
        <td class="left">Beijing</td>
        <td class="left">20.04 &ndash; 26.04</td>
        <td class="left"><a href="https://maps.app.goo.gl/Fsh1vXSdu1ay4yoW8"
            target="_blank">Swissôtel Beijing Hong Kong Macau Center</a></td>
    </tr>
    <tr>
        <td class="left">Wuhu</td>

        <td class="left">26.04 &ndash; 28.04</td>
        <td class="left"><a href="https://maps.app.goo.gl/6wWegJooxkdUgxa3A"
            target="_blank">Wanda Realm</a></td>
    </tr>
    <tr>
        <td class="left">Beijing</td>
        <td class="left">28.04 &ndash; 04.05</td>
        <td class="left"><a href="https://maps.app.goo.gl/Fsh1vXSdu1ay4yoW8"
            target="_blank">Swissôtel Beijing Hong Kong Macau Center</a></td>
    </tr>
    <tr>
        <td class="left">Shanghai</td>
        <td rowspan="2">V</td>
        <td class="left">04.05 &ndash; 12.05</td>
        <td class="left" rowspan="2"><a target="_blank"
            href="https://maps.app.goo.gl/hzdVvmQzy5nfX1qK9">Okura Garden
            Hotel Shanghai</a></td>
    </tr>
    <tr>
        <td class="left">Nanxun</td>
        <td class="left">10.05 (day)</td>
    </tr>

</tbody></table>

<p><b>Trip types</b>:</p>
<ul>
    <li>B &ndash; Business trip.</li>
    <li>C &ndash; The conference.</li>
    <li>V &ndash; Vacation.</li>
</ul>
