<h2>My trips</h2>

<table class="travel" width="100%">
<thead><tr>
    <th>Year</th>
    <th>Trip</th>
    <th>Dates</th>
    <th>Country</th>
    <th class="left">City</th>
    <th>Type</th>
    <th>Days</th>
    <th class="left">Dates</th>
    <th class="left">Hotel</th>
</tr></thead><tbody>


    <tr>
        <td>2008</td>
        <td>1</td>
        <td>12.04 &ndash; 17.04</td>
        <td>Russia</td>
        <td class="left">Astrachan</td>
        <td>С</td>
        <td>5</td>
        <td class="left">12.04 &ndash; 17.04</td>
        <td class="left">Room in a sports stadium</td>
    </tr>

    <tr>
        <td rowspan="3">2012</td>
        <td rowspan="3">2</td>
        <td rowspan="3">05.04 &ndash; 09.04</td>
        <td rowspan="3">Spain</td>
        <td class="left">Lloret de Mar</td>
        <td>V</td>
        <td>7</td>
        <td class="left">05.04 &ndash; 09.04</td>
        <td class="left"> <a href="https://www.openstreetmap.org/way/234947247/"
            target="_blank">Hotel Acapulco Lloret</a></td>
    </tr>
    <tr>
        <td class="left">Barcelona</td>
        <td>V</td>
        <td>1</td>
        <td class="left">06.04</td>
        <td>&ndash;</td>
    </tr>
    <tr>
        <td class="left">Blanes</td>
        <td>V</td>
        <td>1</td>
        <td class="left">07.04</td>
        <td>&ndash;</td>
    </tr>

    <tr>
        <td>2016</td>
        <td>3</td>
        <td>05.04 &ndash; 09.04</td>
        <td>Austria</td>
        <td class="left">Vienna</td>
        <td>V</td>
        <td>5</td>
        <td class="left">05.04 &ndash; 09.04</td>
        <td class="left">Hotel in City center</td>
    </tr>
</tbody></table>

<p>
    Mo details <a href="http://mikhan.me/travel/austria">here</a>.
</p>

<p><b>Trip types</b>:</p>
<ul>
    <li>B &ndash; Business trip.</li>
    <li>C &ndash; The conference.</li>
    <li>V &ndash; Vacation.</li>
</ul>

<h2>Belgium</h2>
<h2>China</h2>
<h2>Czech Republic</h2>
<h2>England</h2>
<h2>Italy</h2>
<h2>Hungary</h2>
<h2>Russia</h2>
<h2>Spain</h2>
