<p>
    In this section you can find a list of software that I use in everyday life
    (for work, study and entertainment). My preferred OS is Linux (Ubuntu), but
    on my home computer I use Windows (yes, I love computer games :). This is
    my OS list:
</p>

<ul>
    <li>
        <a href="https://www.android.com/"
        target="_blank">Android</a>&nbsp;&ndash;System and App Development.
    </li>
    <li>
        <a href="https://ubuntu.com/"
        target="_blank">Ubuntu</a>&nbsp;&ndash; Work and Development.
    </li>
    <li>
        <a href="https://www.microsoft.com/en-us/windows/"
        target="_blank">Windows</a>&nbsp;&ndash; Development and Games.
    </li>
    <li>
        <a href="https://www.apple.com/ru/macos/"
        target="_blank">MacOS</a>&nbsp;&ndash; Development.
    </li>
    <li>
        <a href="https://www.apple.com/ios/"
        target="_blank">iOS</a>&nbsp;&ndash; Just OS in my phone :)
    </li>
</ul>

<p>
    This is a general software that I use on all my computers and operating
    systems: <a target="_blank" href="https://r7-office.ru/">R7-Office</a>,
    <a target="_blank" href="http://dia-installer.de/">Dia</a> and
    <a href="https://en.wikipedia.org/wiki/PlantUML"
        target="_blank">PlantUML</a>,
    <a target="_blank" href="https://calibre-ebook.com/">Calibre E-Book</a>,
    <a target="_blank" href="https://filezilla-project.org/">FileZilla</a>,
    <a target="_blank" href="https://www.microsoft.com/">Microsoft Edge</a>,
    <a target="_blank" href="https://telegram.org/">Telegram</a>,
    <a target="_blank" href="https://zoom.us/">Zoom</a>.
</p>

<h2>Development</h2>
<ul>
    <li>
        <a target="_blank" href="https://sqlitebrowser.org/">SQLite Browser</a>.
    </li>
    <li>
        <a target="_blank" href="https://github.com/skylot/jadx">JADX</a> and
        <a href="https://github.com/JesusFreke/smali/"
            target="_blank">SmaliJar</a>.
    </li>
    <li>
        <a target="_blank" href="https://meldmerge.org/">Meld</a> (diff tool).
    </li>
</ul>

<h2>Media</h2>
<table><tr>
    <td><ul class="cats">
        <li><a href="https://en.wikipedia.org/wiki/ITunes"
            target="_blank">MusicBee</a>.</li>
        <li>
            <a href="https://en.wikipedia.org/wiki/MusicBee"
            target="_blank">iTunes</a>.</li>
        <li><a href="https://en.wikipedia.org/wiki/Foobar2000"
            target="_blank">Foobar2000</a>.</li>
        <li><a href="https://wiki.gnome.org/Apps/Rhythmbox"
            target="_blank">Rhythmbox</a>.</li>
        <li><a href="https://en.wikipedia.org/wiki/Mp3tag"
            target="_blank">Mp3tag</a>.</li>
    </ul></td>
    <td><ul class="cats">
        <li><a href="http://www.medieval.it/cuesplitter-pc/"
            target="_blank">CUE Splitter</a>.</li>
        <li><a href="https://sonore.us/iso2dsd.html"
            target="_blank">Sonore Iso2Dsd</a>.</li>
        <li><a href="https://en.wikipedia.org/wiki/MKVToolNix"
            target="_blank">MKVToolNix</a>.</li>
        <li><a href="https://www.videolan.org/vlc/"
            target="_blank">VLC Media Player</a>.</li>
        <li><a href="https://astroburn.com/"
            target="_blank">Astroburn Lite</a>.</li>
    </ul></td>
    <td><ul class="cats">
        <li><a href="https://en.wikipedia.org/wiki/Debut_Video_Capture_Software"
            target="_blank">Debut Video Capture</a>.</li>
        <li><a href="https://www.cyberlink.com/"
            target="_blank">CyberLink Power2Go</a>.</li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Paint.net"
                target="_blank">Paint.net</a>,
            <a target="_blank" href="https://www.pinta-project.com/">Pinta</a>
            and <a target="_blank" href="https://www.gimp.org/">GIMP</a>.
        </li>
    </ul></td>
</tr></table>
