<p>
    Welcome to the my home in web! I fully understand that to have a home page in 2022 is
    old-fashioned :) Maybe, but I have no actual accounts in social networks (except Instagram,
    I just love traveling and photos, but I use Instagram only for this) because there is a lot
    of information noise and unnecessary news. I want to consume only correct and actual for me
    content. Without social networks I really feel more free and independent.
</p>

<p>
    On these pages you can learn more about me, my projects and my hobbies. Also you can find
    informations about useful tools, helpful links and documentation. Since this website is
    under construction, not all materials are available, but I hope you could find something
    interesting.
</p>

<p>
    And a few words about the content on these pages. The English is not my native language,
    so I can make mistakes. I'm sorry about that. If you don't like something at all, please
    write to me about it and I will be able to fix.
</p>
