<h2>Android</h2>
<ul>
    <li><a href="https://source.android.com/">Android Source</a> — the main website for Android platform developers.</li>
    <li><a href="https://developer.android.com/">Android Developers</a> — the main website for Android applications developers.</li>
    <li><a href="https://android-review.googlesource.com/">AOSP Gerrit</a> — the Android source code repository.</li>
    <li><a href="https://cs.android.com/android/platform/superproject/main">AOSP Code Search</a> — the Android source code browser.</li>
    <li><a href="https://android-developers.googleblog.com/">Android Developers Blog</a> — the latest Android and Google Play news for app and game developers.</li>
</ul>

<h2>Books</h2>
TBD

<h2>Linux</h2>
TBD

<h2>Microsoft</h2>
TBD

<h2>Pascal</h2>
TBD
