<h2>Android</h2>
<ul>
    <li><a href="https://source.android.com/">Android Source</a> — The main website for Android platform developers.</li>
    <li><a href="https://developer.android.com/">Android Developers</a> — The main website for Android applications developers.</li>
    <li><a href="https://android-review.googlesource.com/">AOSP Gerrit</a> — The Android source code repository.</li>
    <li><a href="https://cs.android.com/android/platform/superproject/main">AOSP Code Search</a> — The Android source code browser.</li>
    <li><a href="https://android-developers.googleblog.com/">Android Developers Blog</a> — The latest Android and Google Play news for app and game developers.</li>
</ul>

<h2>Books</h2>
TBD

<h2>Linux</h2>
TBD

<h2>Microsoft</h2>
TBD

<h2>Pascal</h2>
TBD

<h2>Personal</h2>
<ul>
    <li><a href="https://github.com/malakhv/">GitHub</a> — My projects on Github.</li>
    <li><a href="https://android-review.googlesource.com/q/owner:malakhv%2540gmail.com">AOSP Gerrit</a> — My activity in AOSP.</li>
    <li><a href="https://www.lomography.com/homes/mikhan/">Lomography</a> — My photos taken with a film camera.</li>
</ul>
