<h2>Android</h2>
<ul>
    <li>
        <a target="_blank" href="https://source.android.com/">Android Source</a>
        &ndash; The main website for Android platform developers.
    </li>
    <li>
        <a target="_blank" href="https://developer.android.com/">
            Android Developers</a> &ndash; The main website for Android
            applications developers.
    </li>
    <li>
        <a target="_blank" href="https://android-review.googlesource.com/">
            AOSP Gerrit</a> &ndash; The Android source code repository.
    </li>
    <li>
        <a href="https://cs.android.com/android/platform/superproject/main"
        target="_blank">AOSP Code Search</a> &ndash; The Android source code
        browser.
    </li>
    <li>
        <a target="_blank" href="https://android-developers.googleblog.com/">
        Android Developers Blog</a> &ndash; The latest Android and Google Play
        news for app and game developers.
    </li>
</ul>

<h2>Books</h2>
TBD

<h2>Linux</h2>
TBD

<h2>Microsoft</h2>
<ul>
    <li><a target="_blank" href="https://developer.microsoft.com/">
        Microsoft Developers</a> &ndash; The main Microsoft website for
        developers.
    </li>
</ul>

<h2>Pascal</h2>
<ul>
    <li>
        <a target="_blank" href="https://www.freepascal.org/">Free Pascal</a>
        &ndash; The most popular open source Pascal compiler.
    </li>
    <li>
        <a target="_blank"
href="https://docwiki.embarcadero.com/RADStudio/en/Delphi_Language_Reference/">
        Delphi Pascal</a> &ndash; The language reference of the latest Delphi
        version.
    </li>
    <li>
        <a target="_blank" href="https://turbopascal.org/">TP Compiler</a>
        &ndash; The Turbo Pascal compiler from scratch (on Turbo Pascal).
    </li>
</ul>

<h2>Personal</h2>
<ul>
    <li>
        <a target="_blank" href="https://github.com/malakhv/">GitHub</a>
        &ndash; My projects on Github.
    </li>
    <li>
        <a target="_blank"
href="https://android-review.googlesource.com/q/owner:malakhv%2540gmail.com">
        AOSP Gerrit</a> &ndash; My activity in AOSP.
    </li>
    <li>
        <a target="_blank" href="https://www.lomography.com/homes/mikhan/">
            Lomography</a> &ndash; My photos taken with a film camera.
    </li>
</ul>

<h2>Web</h2>
<ul>
    <li><a href="https://www.w3schools.com/html/default.asp">HTML Tutorial</a>
        from W3C.</li>
    <li>
        <a href="https://developer.mozilla.org/ru/docs/Web/">Mozilla Web
            Documentation.</a>
    </li>
</ul>

<h2>Other</h2>
<ul>
    <li>
        <a target="_blank" href="https://www.ed-thelen.org/comp-hist/">Antique
            Computers</a> &ndash; Facts and stories about Antique (lonesome)
            Computers.
    </li>
    <li>
        <a target="_blank" href="https://bitsavers.org/">Bitsavers</a> &ndash;
        A large online repository of historical computer manuals and archived
        software and firmware.
    </li>
    <li>
        <a target="_blank" href="https://archive.org/">Internet Archive</a>
        &ndash; A non-profit library of millions of free texts, movies,
        software, music, websites, and more.
    </li>
</ul>
