<!-- Menu -->
<table align="center">
    <tr>
        <td><a href="index.php">Home</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="develop.php">Develop</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="projects.php">Projects</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="software.php">Software</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="hardware.php">Hardware</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="media.php">Media</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="tools.php">Tools</a>&nbsp;&nbsp;&nbsp;</td>
        <td><a href="links.php">Links</a>&nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>
